<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mz.co.txova.msaude">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".infra.SaudeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ConsultationsActivity"
            android:label="@string/title_activity_consultations"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ScheduleConsultationActivity"
            android:label="@string/title_activity_schedule_consultation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SearchConsultationActivity"
            android:label="@string/title_activity_search_consultation"
            android:theme="@style/AppTheme" />

        <service android:name=".firebase.SaudeFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.SaudeFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.SelectCityActivity"
            android:label="@string/title_activity_select_city"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SelectConsultationTypeActivity"
            android:label="@string/title_activity_select_consultation_type"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.HealthFacilitySelectActivity"
            android:label="@string/title_activity_health_facility"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SelectDoctorActivity"
            android:label="@string/title_activity_select_doctor"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>